

.ab_slidescontainer {

  // temp properties
  width: 1200px; // need defined width
  height: 300px; // and height
  background-color: rgb(21, 26, 49);
  color: white;
  margin: 0 auto;

  // persistent properties
  padding: 2em;
  // center the enclosed block
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.singleslide_container {
  // this makes sure the animated element doesn't change layout when 
  // animating in/out (the DOM can have more than one component
  // rendered while animating) - all containers sit in the same position
  // on the grid
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

.svg {
  background-color: rgba(255, 0, 0, 0.164);
}